<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603973316492-kdfnuf205f8uf0rb8e497lgenks5p91k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603973316492-kdfnuf205f8uf0rb8e497lgenks5p91k</string>
	<key>API_KEY</key>
	<string>AIzaSyAmKm86pPP11tO0K7sXAEqXuH-z7po8kes</string>
	<key>GCM_SENDER_ID</key>
	<string>603973316492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.varun.directMsg</string>
	<key>PROJECT_ID</key>
	<string>direct-message-for-whats-5fbae</string>
	<key>STORAGE_BUCKET</key>
	<string>direct-message-for-whats-5fbae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603973316492:ios:b13a911d2ed2c59bd270a9</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7950371036228408~9305831537</string>
</dict>
</plist>